@import url("resource://org/gnome/theme/gnome-shell.css");


.panel-transparency,
#panel {
    background: none;
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    box-shadow: none;
}

.panel-transparency:overview,
#panel:overview {
    background: none;
}

headerbar,
#headerbar {
    outline: none;
    border: none;
    box-shadow: none;
}

.panel-button {
    color: white;
}

.panel-effect-transparency {
    box-shadow: none;
    border: none;
    /* Gnome Shell specific CSS */
    background-gradient-direction: none;
    background-gradient-start: none;
    background-gradient-end: none;
    border: none;
}

/* Used to remove backgrounds when full transparency is needed. */

.panel-background-image-transparency {
    border-image: none;
    background-image: none;
}

stage,
#stage,
.controls-manager,
.secondary-monitor-workspaces {
    background-image: url("file:///home/USERNAME/.local/share/backgrounds/.switcher-background-image");
    background-size: cover;
}

.overview-icon {
    border-image: none;
    background: none;
}

.dash-background {
    background-color: black;
}
