@import "./catppuccin_mocha.scss";

window {
  background-color: transparent;
}

.monitorBar {
  color: $text;
  font-weight: bolder;
}

.topLevelWidgetContainer {
  padding: 6px;
  background-color: $surface0;
  border-radius: 0px 0px 16px 16px;
}
