@import "./catppuccin_mocha.scss";

window {
  background-color: transparent;
}

.monitorBar {
  background-color: transparent;
  /* margin-top: 10px; */
}

.topLevelWidgetContainer {
  padding: 4px 6px;
  background-color: $surface0;
  border-radius: 0px 0px 16px 16px;
  /* border-radius: 16px; */
  color: $text;
  font-weight: bolder;
}
