@import "./catppuccin_mocha.scss";

.battery {
  background-color: $crust;
  border-radius: 10px;
  font-size: 22px;
  /* margin: 0px 0px 0px 10px; */
}

.batteryYellow {
  color: $yellow;
  padding-right: 7px;
}

.batteryGreen {
  color: $green;
}

.batteryPeach {
  color: $peach;
}

.batteryRed {
  color: $red;
}

.batteryEventboxClosed {
  border-radius: 10px;
  transition: all 300ms;
}

.batteryEventboxClosed:hover .battery {
  background-color: $surface1;
  border-radius: 10px;
  transition: all 300ms;
}

.batteryEventboxOpen {
  font-weight: bolder;
  border-radius: 10px;
  transition: all 300ms;
  padding: 0px 0px 0px 3px;
}

.batteryEventboxOpen:hover .battery {
  background-color: $surface1;
  border-radius: 10px;
  transition: all 300ms;
}

.batteryPopup {
  border-radius: 10px;
  /* padding: 0px 0px 0px 3px; */
  font-size: 15px;
  color: $text;
}

.batteryPopup label {
  color: $text;
}
.batteryPopup:hover {
  background-color: $surface1;
  transition: all 300ms;
}
