@import "./catppuccin_mocha.scss";

.graphBox {
	background-color: $crust;
	border-radius: 10px;
	padding: 4px 10px 0px 10px;
}

.cpuGraph {
	background-color: $red;
	color: transparent;
}

.cpuText {
	color: $red;
}

.gpuGraph {
	background-color: $teal;
	color: transparent;
}

.gpuText {
	color: $teal;
}

.memGraph {
	background-color: $blue;
	color: transparent;
}

.memText {
	color: $blue;
}

.netGraph {
	background-color: $yellow;
	color: transparent;
}

.netText {
	color: $yellow;
}