@import "./catppuccin_mocha.scss";

.weather {
	background-color: $crust;
	border-radius: 10px;
	padding: 0px 10px 0px 8px;
}

.weatherEventboxClosed {
	border-radius: 10px;
	transition: all 300ms;
}

.weatherEventboxClosed:hover .weather {
	background-color: $surface1;
	border-radius: 10px;
}

.weatherEventboxOpen {
	border-radius: 10px 0px 0px 10px;
	transition: all 300ms;
}

.weatherEventboxOpen:hover .weather {
	background-color: $surface1;
	border-radius: 10px 10px;
	transition: all 300ms;
}

.weatherPopup {
	border-radius: 0px 10px 10px 0px;
	padding: 4px 10px;
	font-size: 15px;
	color: $text;
}
/* .weatherPopup:hover { */
	    /* background-color: $surface1; */
    /* transition: all 300ms; */
/* } */

.weatherPopup label {
	font-size: 15px;
	color: $text;
}
