@import "./catppuccin_mocha.scss";

.workspaceGroup {
  background-color: $crust;
  border-radius: 14px;
  padding: 0px 6px 0px 8px;
}

.workspaceFocused {
  background-color: $surface2;
  border-radius: 6px;
  padding: 3px;
  margin: 0px 4px;
}

.workspaceUnfocused {
  background-color: $surface0;
  border-radius: 6px;
  padding: 3px;
  margin: 0px 4px;
}

.imageFocused {
  background: $blue;
  border-radius: 8px;
  margin: 2px;
  padding: 2px;
}

.imageUnfocused {
  /* border-radius: 2px; */
  margin: 2px;
  padding: 2px;
}
