@import "./scss/battery.scss";
@import "./scss/bars.scss";
/* @import "./scss/crypto.scss"; */
@import "./scss/graphs.scss";
@import "./scss/powermenu.scss";
@import "./scss/time.scss";
@import "./scss/tooltip.scss";
@import "./scss/weather.scss";
@import "./scss/workspaces.scss";
