@import "./catppuccin_mocha.scss";

window {
  background-color: transparent;
}

.monitorBar {
  background-color: transparent;
  margin-top: 10px;
}

.topLevelWidgetContainer {
  padding: 3.5px 6px;
  background-color: $surface0;
  border-radius: 16px;
  margin: 4px 10px 0px 10px;
  color: $text;
  font-weight: bolder;
}
