@import "./catppuccin_mocha.scss";

.powermenu {
  background-color: $crust;
  border-radius: 10px;
}

.powermenuEventboxOpen {
  border-radius: 10px 0px 0px 10px;
  transition: all 300ms;
}

.powermenuEventboxOpen:hover {
  background-color: $surface1;
  border-radius: 10px 0px 0px 10px;
}

.powermenuEventboxClosed {
  border-radius: 10px;
  transition: all 300ms;
}

.powermenuEventboxClosed:hover {
  background-color: $surface1;
  border-radius: 10px;
}

.nix {
  padding: 2px 10px 0px 10px;
}

.lock {
  border-radius: 0px;
  color: $green;
  transition: all 300ms;
}

.lock:hover {
  background-color: $surface1;
  transition: all 300ms;
}

.suspend {
  color: $lavender;
  transition: all 300ms;
}

.suspend:hover {
  background-color: $surface1;
  transition: all 300ms;
}

.logout {
  border-radius: 0px;
  color: $yellow;
  transition: all 300ms;
}

.logout:hover {
  background-color: $surface1;
  transition: all 300ms;
}

.reboot {
  color: $peach;
  transition: all 300ms;
}

.reboot:hover {
  background-color: $surface1;
  transition: all 300ms;
}

.shutdown {
  border-radius: 0px 10px 10px 0px;
  color: $red;
  transition: all 300ms;
}

.shutdown:hover {
  background-color: $surface1;
  transition: all 300ms;
}
