@import "./catppuccin_mocha.scss";

.workspaceGroup {
  background-color: $crust;
  border-radius: 14px;
  padding: 0px 6px 0px 8px;
}

.workspaceFocused {
  background-color: $surface2;
  border-radius: 6px;
  padding: 4px;
  margin: 0px 3px 0px 3px;
}

.workspaceUnfocused {
  background-color: $surface0;
  border-radius: 6px;
  padding: 4px;
  margin: 0px 3px 0px 3px;
}

.imageFocused {
  background: $blue;
  border-radius: 8px;
  margin: 0px 1px 0px 1px;
}

.imageUnfocused {
  border-radius: 2px;
  margin: 0px 1px 0px 1px;
}
